<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">"Interest ya'n a pint?" </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="http://orig13.deviantart.net/6495/f/2011/292/2/2/dwarf_lord_by_davidgaillet-d4dain5.jpg"
                style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>Dwarves are an ancient, bold, and courageous race descended from the earthen. The race is split into
                various different clans, with the three most predominant being led by the Council of Three Hammers.
                Ironforge dwarves hold the majority of the mountainous Khaz Modan region in the Eastern Kingdoms. The
                Wildhammer dwarves make their homes within Aerie Peak in the Hinterlands and around their former home of
                Grim Batol in the Twilight Highlands.The Dark Iron dwarves hold parts of Blackrock Mountain from
                within their subterranean city of Shadowforge, and are spread throughout the surrounding regions of the
                Burning Steppes and the Searing Gorge, including areas of the Badlands and other parts of Khaz Modan. </p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Ironforge, Bronzebeard clan, Dark Iron clan, Wildhammer clan, Alliance, Kirin Tor, Earthen Ring,
                        Silver Hand, Argent Crusade, Twilight's Hammer</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Hunter, Mage, Monk, Paladin, Priest, Shaman, Rogue, Warlock, Warrior</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td>Ironforge (Bronzebeard),
                        Aerie Peak (Wildhammer),
                        Shadowforge City (Dark Iron),
                        Frosthold (Frostborn),
                        Thorium Point (Thorium Brotherhood)</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Council of Three Hammers: Muradin Bronzebeard, Moira Thaurissan, Falstad Wildhammer. <br />
                        Velog Icebellow, Oilfist
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td> Ram,
                        Gryphon,
                        Stormcrest Eagle,
                        Core hound</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td> Eastern Kingdoms, Kalimdor, Outland, Northrend</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td> Dwarven, Common, Gnomish, Goblin, Orcish, Thalassian</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>