<div class="modal-header">
  <div class="main bg-image" style="
background-image: url('https://cdna.artstation.com/p/assets/images/images/035/638/014/large/alexandru-simut-padure.jpg?1615482162');
height: 20vh;
">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="ms-3 mb-3">Tell Us More about yourself</h1>
      </div>
    </div>
  </div>
</div>
  <div class="modal-body">
  <!--Textarea with icon prefix-->
  <div class="md-form">
    <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
  </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary">Send</button>
  </div>
