h2 {
    padding: 2rem 0;
  }

  /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.grayscale { filter: grayscale(50%); }

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-left: 50%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*Animations*/	
.animate-zoom {animation:animatezoom 0.6s}
.animate-top{position:relative;animation:animatetop 1.5s}
.animate-left{position:relative;animation:animateleft 1.5s}	
.animate-right{position:relative;animation:animateright 1.5s}
.animate-bottom{position:relative;animation:animatebottom 1.5s}
.animate-spin{animation:w3-spin 2s infinite linear}
.animate-fading{animation:fading 10s infinite}
.animate-opacity{animation:opac 1.5s}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}	
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes opac{from{opacity:0} to{opacity:1}}