<div class="main bg-image grayscale" style="
    background-image: url('../../assets/wow-images/1176254.jpg');
    height: 50vh;
  ">

  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white ">
      <h1 class="mb-3 typewriter">Looking for a Raid?</h1>
      <h5 class="mb-4">By using our raid finder page you may find your next instance !</h5>
    </div>
  </div>
</div>
<section class="section about-section gray-bg" id="about" style="background-color: #282828;">
  <h2></h2>

  <div class="container animate-bottom">
    <div class="row">
      <div class="column">
        <img src="{{selectedRaid.raidIcon}}" style="
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width:80%;
              ">
      </div>
      <div class="column">
        <div class="row">
          <h2></h2>
          <div class="col">
            <label style="font-weight: bold;"><i class="fa-solid fa-signature"></i>&nbsp;Name: </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-map-pin">&nbsp;</i>Zone: </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-scale-unbalanced-flip">&nbsp;</i>Difficulty:
            </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-sharp fa-solid fa-gift"></i>&nbsp;Loot System:
            </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-sharp fa-solid fa-hashtag"></i>&nbsp;Total Encounters:
            </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-calendar"></i>&nbsp;Date: </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-business-time"></i>&nbsp;Pull / Raid-Off:
            </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-user"></i>&nbsp;Raid Leader: </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-users"></i>&nbsp;Organising Guild:
            </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-paw"></i>&nbsp;Needed Class: </label><br /><br />
            <label style="font-weight: bold;"><i class="fa-solid fa-user-ninja"></i>&nbsp;Needed Roles:
            </label><br /><br />
          </div>
          <div class="col">
            <label> {{selectedRaid.raidName}}</label><br /><br />
            <label> {{selectedRaid.raidZone}}</label><br /><br />
            <label> {{selectedRaid.raidDifficulty}}</label><br /><br />
            <label> {{selectedRaid.raidLootSystem}} </label><br /><br />
            <label> {{selectedRaid.raidTotalEncounters}}</label><br /><br />
            <label> {{selectedRaid.raidDate}}</label><br /><br />
            <label> {{selectedRaid.raidPullTime}} - {{selectedRaid.raidOffTime}}</label><br /><br />
            <label> {{selectedRaid.raidLeader.battleTag}} aka
              {{selectedRaid.raidLeader.playableCharacter.name}}</label><br /><br />
            <label> {{selectedRaid.raidLeader.playableCharacter.guild.guildName}}</label><br /><br />
            <label> {{selectedRaid.raidRequirements.mainClass}}</label><br /><br />
            <label> {{selectedRaid.raidRequirements.mainSpec}} &
              {{selectedRaid.raidRequirements.secondarySpec}}</label><br /><br /><br />
          </div>

        </div>

        <input class="btn btn-secondary" (click)="openModal()" type="submit" value="Apply to Join Raid">


      </div>
    </div>
  </div>



  <h2></h2>
</section>