<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Blacksmithing</h5>
</div>
<div class="modal-body">
  <p>Blacksmithing is a profession and is the art of forging items out of metals, minerals, and other trade goods.
    Blacksmiths utilize bars of metal unearthed and smelted by the mining profession along with various trade and
    magical goods to produce their wares. </p>
  <p>
  <h2></h2>
  <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-blacksmithing.jpg?maxWidth=1630"
    style="width: 100%;" />
  <h2></h2>
  <p>
    A blacksmith can create melee weapons, armor (mail and plate), trade items used as ingredients by other professions
    (such as rods for enchanters) and keys used to unlock a variety of items in the world. Additionally, blacksmiths can
    craft items that when applied to weapons can provide temporary (and in some cases, permanent) buffs to items.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
</div>