<app-navbar></app-navbar>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<div class="main" style="background-color:#282828">
<div
  class="main bg-image grayscale"
  style="
    background-image: url('../../assets/wow-images/a.jpg');
    height: 50vh;
  "
>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">GUILD NAME</h1>
      <h5 class="mb-4">GUILD SLOGAN</h5>
    </div>
  </div>
</div>
<h2></h2>

<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4"><img src="https://i.pinimg.com/originals/27/70/be/2770be9fba8f43ae8b5f0f5c6bffdcdc.jpg"></div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row text-white">
                    <div class="p-4 bg-primary text-center skill-block">
                        <h4>90%</h4>
                        <h6> Server</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                        <h4>70%</h4>
                        <h6> Faction</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block">
                        <h4>80%</h4>
                        <h6> Members</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                        <h4>75%</h4>
                        <h6>Raids </h6>
                    </div>
                </div>
                <div class="p-3 bg-black text-white">
                    <h6>Wow Log page</h6>
                </div>
                <div class="d-flex flex-row text-white">
                    <div class="p-4 bg-primary text-center skill-block">
                        <h4>90%</h4>
                        <h6> Rank</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                        <h4>70%</h4>
                        <h6> Recruiting</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block">
                        <h4>80%</h4>
                        <h6> Raids/Week</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                        <h4>75%</h4>
                        <h6>Activities </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="second-main" style="background-color:  	#282828;">
    <div class="caption">
        <table class=" table align-middle" style="width: 80%; margin: 0 auto; text-align:center">
            <thead class="bg-light table-dark">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody style="opacity:0.6; background-color:aliceblue">
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="../../assets/wow-images/09f3101313990baaa77c394c750da0f5.jpg" alt=""
                                style="width: 45px; height: 45px" class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">Antisocial</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded">
                            
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="../../assets/wow-images/09f3101313990baaa77c394c750da0f5.jpg" alt=""
                                style="width: 45px; height: 45px" class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">Antisocial</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded">
                            
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <h2></h2>
  </div>

  <div class="caption">
    <table class=" table align-middle" style="width: 80%; margin: 0 auto; text-align:center">
        <thead class="bg-light table-dark">
            <tr>
                <th>Class</th>
                <th>Main specialisation</th>
                <th>Apply</th>
            </tr>
        </thead>
        <tbody style="opacity:0.6; background-color:aliceblue">
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/wow-images/09f3101313990baaa77c394c750da0f5.jpg" alt=""
                            style="width: 45px; height: 45px" class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Antisocial</p>
                        </div>
                    </div>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/wow-images/09f3101313990baaa77c394c750da0f5.jpg" alt=""
                            style="width: 45px; height: 45px" class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Antisocial</p>
                        </div>
                    </div>
                </td>
                <td>
                </td>
                <td>
                    <div class="linkToPlayerProfile"><button class="btn btn-primary" (click)="openModal()">Apply</button></div>
                </td>
            </tr>
            
        </tbody>
    </table>
    <h2></h2>
</div>




</div>

<app-footer></app-footer>
