<div class="main">
  <div class="contact-form-container">
    <div class="contact-us">
      <div class="contact-header">
        <h1>
          &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;F . A . Q
        </h1>
      </div>
      <div class="social-bar">
        <ul>
          <li>
            <i class="fab fa-facebook-f"></i>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
          </li>
          <li>
            <i class="fab fa-dribbble"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="header">
      <h1>
        FAQs
      </h1>
      <h6 class="text-muted">Can't find an answer to your question? <a href="contact">Contact us</a></h6>
    </div>
    <div class="row">
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>