<app-navbar></app-navbar>
<div class="main">
<div class="faq-section">
    <header>
      <h2>FAQs</h2> 
      <p>Answers to the most frequently asked questions.</p>
    </header>
    
    <details>
      <summary>
        <h4>Question?</h4>
        <span class="material-symbols-outlined"><i class="fa-solid fa-plus"></i></span>  
      </summary>
      <p>Answer</p>
    </details>
    
    <hr>
    
    <details>
        <summary>
          <h4>Question?</h4>
          <span class="material-symbols-outlined"><i class="fa-solid fa-plus"></i></span>  
        </summary>
        <p>Answer</p>
      </details>
    
    <hr>
    
    <details>
        <summary>
          <h4>Question?</h4>
          <span class="material-symbols-outlined"><i class="fa-solid fa-plus"></i></span>  
        </summary>
        <p>Answer</p>
      </details>
    
    <hr>
    
    <details>
        <summary>
          <h4>Question?</h4>
          <span class="material-symbols-outlined"><i class="fa-solid fa-plus"></i></span>  
        </summary>
        <p>Answer</p>
      </details>

    <hr>
    
    <details>
      <summary>
        <h4>Question?</h4>
        <span class="material-symbols-outlined"><i class="fa-solid fa-plus"></i></span>  
      </summary>
      <p>Answer</p>
    </details>
    
  </div>
</div>
<app-footer></app-footer>
