<div class="main">
  <div class="contact-form-container">
    <div class="contact-us">
      <div class="contact-header">
        <h1>
          &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;F . A . Q
        </h1>
      </div>
      <div class="social-bar">
        <ul>
          <li>
            <i class="fab fa-facebook-f"></i>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
          </li>
          <li>
            <i class="fab fa-dribbble"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="header">
      <h1>
        FAQs
      </h1>
      <h6 class="text-muted">Can't find an answer to your question? <a href="contact">Contact us</a></h6>
    </div>
    <div class="row">
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">How do I ceate an account</h5>
            <p class="card-text">Please refer to the <a href="register">signup page</a>, the process is pretty straight-forward</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">Can I use Raiddon if i am not a wow player?</h5>
            <p class="card-text">No, Raiddon can only be used by wow players who at least have one playable character in-game.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">Is Raiddon free to use?</h5>
            <p class="card-text">Yes! Raiddon  offers many amazing features for free.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <h5 class="card-title">Who created Raiddon?</h5>
            <p class="card-text">You can find out all of that <a target="_blank" href="http://localhost:4200/assets/pdf/RaiddonScope.pdf">here</a></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ms-5 mb-2 card" style="width: 250%; padding:5%">
          <div class="card-body">
            <p class="card-text">Feel free to check our <a href="about">about page</a></p>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>