<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
  
        <!-- Linkedin -->
        <a mdbRipple target="_blank" class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/farah-gauduin-71646a108/!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a mdbRipple target="_blank"class="btn btn-outline-light btn-floating m-1" href="https://github.com/Farah404" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <mdb-form-control class="form-white mb-4">
                <input mdbInput type="email" id="form5Example24" class="form-control" />
                <label mdbLabel class="form-label" for="form5Example24">Email address</label>
              </mdb-form-control>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">

      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="raids" class="text-white">Raids</a>
              </li>
              <li>
                <a href="guilds" class="text-white">Guilds</a>
              </li>
              <li>
                <a href="players" class="text-white">Players</a>
              </li>
              <li>
                <a href="News" class="text-white">News</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0">
              <li>
                <a target="_blank" href="https://www.warcraftlogs.com/api/docs" class="text-white">Warcraft Logs</a>
              </li>
              <li>
                <a target="_blank" href="https://develop.battle.net/documentation/guides" class="text-white">Battle.net API</a>
              </li>
              <li>
                <a target="_blank" href="https://wow.tools/" class="text-white">WoW Tools</a>
              </li>
              <li>
                <a target="_blank" href="https://www.wowhead.com/" class="text-white">Wow Head</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0">
              <li>
                <a target="_blank" href="https://github.com/Farah404/Raiddon-spring-server" class="text-white">Spring Server</a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/Farah404/Raiddon-bnet-data" class="text-white">Bnet Data</a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/Farah404/Raiddon-wclog-data" class="text-white">WoWLog Data</a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/Farah404/Raiddon-angularFramework" class="text-white">Angular Framework</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="about" class="text-white">About Raiddon</a>
              </li>
              <li>
                <a href="contact" class="text-white">Contact</a>
              </li>
              <li>
                <a href="faq" class="text-white">F.A.Q</a>
              </li>
              <li>
                <a target="_blank" href="../../assets/pdf/RaiddonScope.pdf" class="text-white">Scope Statement</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://github.com/Farah404">Raiddon</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->