<div class="modal-header">
  <div class="main bg-image" style="
    background-image: url('../../assets/wow-images/sw5.jpg');
    height: 20vh;
  ">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="ms-3 mb-3">Tell Us More about yourself</h1>
      </div>
    </div>
  </div>
</div>
<div class="modal-body" style="width:100%">

  <section class="section about-section gray-bg" id="about">
    <div class="container">
      <div class="counter">
        <div class="row align-items-center flex-row-reverse">
          <div class="col">
            <div class="row">
              <div class="col" aria-describedby="imghelp">
                <div class="form-group mb-3">
                  <label for="ilvl">Battle Tag</label>
                  <input type="text" class="form-control" id="battleTag" name="battleTag" [(ngModel)]="currentUser.battleTag"/>
                </div>
                <div class="form-group mb-3">
                  <label for="ilvl">Username</label>
                  <input disabled=""
                  type="text" class="form-control" id="username" name="username" [(ngModel)]="currentUser.username"/>
                </div>
                <div class="form-group mb-3">
                  <label for="ilvl">Profile Picture</label>
                  <select type="text" class="form-control" id="profilePicture" name="profilePicture" [(ngModel)]="currentUser.profilePicture">
                    <option value="https://live.staticflickr.com/565/20846156995_e6c3171ef1_b.jpg">
                      🐲&emsp; Dragon</option>
                  <option
                      value="https://static.vecteezy.com/system/resources/previews/005/880/404/original/lion-sword-logo-design-template-vector.jpg">
                      🦁&emsp; Lion</option>
                  <option
                      value="https://i.pinimg.com/736x/0f/8b/24/0f8b24e84518ee8a7a217c9e25fbf445.jpg">
                      🦏&emsp; Kobold</option>
                  <option
                      value="https://media.istockphoto.com/id/1336478149/vector/abstract-flying-eagle-icon.jpg?b=1&s=170667a&w=0&k=20&c=dARyFMjh1TTyLvbVzB6MpgbjL_n2Tn5e9NpM3jQkAZw=">
                      🦅&emsp; Eagle</option>
                  <option
                      value="https://static.vecteezy.com/system/resources/previews/007/997/313/original/yellow-tiger-illustration-creative-animal-detiled-cartoon-and-mascot-style-suitable-for-logo-icon-symbol-and-sign-such-as-e-sports-emblem-and-strong-logo-free-vector.jpg">
                      🐯&emsp; Tiger</option>
                    </select>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
  <button type="submit" class="btn btn-primary" (click)="updateUser()">Update</button>
</div>