<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Jewelcrafting</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Jewelcrafting is a profession which was introduced in The Burning Crusade expansion. Players are able to make
        rings, trinkets, necklaces, and statues, as well as cut gems for socketed items. Figurines are jewelcrafter only
        items, and are a type of trinket that is Bind on Pickup. Special in Wrath of the Lich King are jewelcrafter only
        gems, which have stats bonuses that exceed the standard gems; they are varying cuts of dragon's eye and three
        jewelcrafter only gems may be equipped at one time. </p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-jewelcrafting.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>
        Originally, those who had not purchased the expansion were able to use items created by Jewelcrafting, although
        only those with The Burning Crusade were able to learn the Jewelcrafting profession itself. Since Cataclysm, it
        has been available to all players.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>