<div class="modal-header">
  <div class="main bg-image" style="
    background-image: url('../../assets/wow-images/aobo-wang-npp2.jpg');
    height: 20vh;
  ">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="ms-3 mb-3">Tell Us More about yourself</h1>
      </div>
    </div>
  </div>
</div>
<div class="modal-body" style="width:100%">

  <section class="section about-section gray-bg" id="about">
    <div class="container">
      <div class="counter">
        <div class="row align-items-center flex-row-reverse">
          <div class="col">
            <div class="row">
              <div class="col" aria-describedby="imghelp">
                <div class="form-group mb-3">
                  <label for="ilvl">Raids per week</label>
                  <select type="number" class="form-control" id="raidsPerWeek" name="raidsPerWeek"
                    [(ngModel)]="currentPreferences.raidsPerWeek">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="objectives">My competitivity objective</label>:
                  <select type="text" class="form-control" id="objectives" name="objectives"
                    [(ngModel)]="currentPreferences.objectives">
                    <option value="Try Hard">Try Hard</option>
                    <option value="Semi Try Hard">Semi Try Hard</option>
                    <option value="Chill">Chill</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="faction">My preferred loot system</label>
                  <select type="text" class="form-control" id="lootSystem" name="lootSystem"
                    [(ngModel)]="currentPreferences.lootSystems">
                    <option value="Random">Random</option>
                    <option value="Attribution">Attribution</option>
                    <option value="DKP">DKP</option>
                    <option value="GDKP">GDKP</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="ilvl">Few words about me</label>
                  <textarea type="text" class="form-control" id="desc" name="desc"
                    [(ngModel)]="currentPreferences.description" id="form10" class="md-textarea form-control"
                    rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" (click)="updatePreferences()">Update</button>
</div>