<div class="modal-header">
  <div class="main bg-image" style="
    background-image: url('../../assets/wow-images/aobo-wang-npp2.jpg');
    height: 20vh;
  ">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Tell Us More about yourself</h1>
      </div>
    </div>
  </div>
</div>
<div class="modal-body" style="width:100%">

  <section class="section about-section gray-bg" id="about">
    <div class="container">
      <div class="counter">
        <div class="row align-items-center flex-row-reverse">
          <div class="col">
            <div class="row">
              <div class="col" aria-describedby="imghelp">
                <div class="form-group mb-3">
                  <label for="ilvl">Raids per week</label>
                  <input type="number" class="form-control" id="ilvl" name="ilvl" />
                </div>
                <div class="form-group mb-3">
                  <fieldset>
                    <label>My aims:</label><br />
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">&nbsp;I am loogking for a guild&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">&nbsp;I a m looking for raid&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                  </fieldset>
                </div>
                <div class="form-group mb-3">
                  <label for="faction">My competitivity objective</label>
                  <select class="form-select" aria-label="Default select example">
                    <option value=""></option>
                    <option value="1">Try Hard</option>
                    <option value="2">Semi Try Hard</option>
                    <option value="3">Chill</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="faction">My preferred loot system</label>
                  <select class="form-select" aria-label="Default select example">
                    <option value=""></option>
                    <option value="1">Random</option>
                    <option value="2">Attribution by loot master</option>
                    <option value="3">DKP Dragon Kill Points</option>
                    <option value="4">Gold Dragon Kill Points</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="ilvl">Few words about me</label>
                  <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary">Send</button>
</div>