<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“ Adorstaerume, Golveldbarad, Mandosdaegil,
        Nevrenrothas, Waldirskilde ” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://www.evowow.com/upload/gallery/images/undead_rogue.jpg" style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>The undead are former mortals who have died and have had their souls trapped between life and death. They
                derive power from necromantic magic. Most common examples being zombies or ghosts, undead are
                typically mindless, bloodthirsty fiends hostile toward any living thing that comes across their path.
                But some have managed to retain their memories and be who they were in life.</p>
            <p>
                In the Shadowlands, they are all soldiers of the Necrolord Covenant, the armies that serve as the first
                line of defense in the realm of Death, and that honor those who seek power and glory in battle. All of
                them receive a portion of the Primus' power in order to carry out their duty.</p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Scourge, Forsaken, Knights of the Ebon Blade, Necrolord Covenant, Cult of the Damned,
                        Independent</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Apothecary, Assassin, Dark ranger, Death knight, Hunter, Mad scientist, Mage, Monk, Necromancer,
                        Priest, Rogue, Sorcerer, Warlock, Warrior</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td> Seat of the Primus, Icecrown Citadel, Acherus, Ruins of Lordaeron, The Undercity</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>The Primus, Bolvar Fordragon, The Deathlord
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td>Skeletal Horse, Bat, Deathcharger</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Shadowlands, Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td>Shadowlands, Azeroth, Outland, Alternate Draenor</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td> Common, Gutterspeak, Orcish, Nerubian, Vrykul, Zombie, Language of death</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>