<!-- <app-navbar-connected></app-navbar-connected>

<div
  class="main bg-image"
  style="
    background-image: url('https://cdna.artstation.com/p/assets/images/images/035/638/014/large/alexandru-simut-padure.jpg?1615482162');
    height: 30vh;
  "
>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 typewriter">Tell Us More about yourself</h1>
    </div>
  </div>
</div>

<h2></h2>
<div class="tabs">
  <input type="radio" id="tab1" name="tab-control" checked />
  <input type="radio" id="tab2" name="tab-control" />
  <input type="radio" id="tab3" name="tab-control" />
  <input type="radio" id="tab4" name="tab-control" />
  <ul>
    <li title="Features">
      <label for="tab1" role="button"><br /><span>Main Character</span></label>
    </li>
    <li title="Delivery Contents">
      <label for="tab2" role="button"><br /><span>Rerolls</span></label>
    </li>
    <li title="Shipping">
      <label for="tab3" role="button"><br /><span>Professions</span></label>
    </li>
    <li title="Returns">
      <label for="tab4" role="button"><br /><span>Preferences</span></label>
    </li>
  </ul>

  <div class="slider">
    <div class="indicator"></div>
  </div>
  <div class="content">
    <section>
      <div class="container">
        <div class="row">
          <div class="col" aria-describedby="imghelp">
            <img
              class="center"
              src="../../assets/wow-images/dalaran.jpg"
              style="width: 100%"
            />
            <small id="btHelp" class="form-text text-muted"
              >Dalaran (or the City of Dalaran and Dalaran City, pronounced
              DAHL-uh-RAWN) is the capital of the magocratic nation of the same
              name. The city's inner fortress has served as the focal point for
              magi and the study of the arcane throughout human history.
            </small>
          </div>

          <div class="col">
            <form #newUserForm="ngForm" (ngSubmit)="onAddNewPlayablecharacter(newUserForm)">
              <div class="form-group mb-4">
                <label for="battle-tag">Battle Tag</label>
                <input
                  type="text"
                  class="form-control"
                  id="battleTag"
                  aria-describedby="btHelp"
                  placeholder="for example: FallenSlayer#3592"
                />
                <small id="btHelp" class="form-text text-muted"
                  >BattleTags do not need to be unique. You can use any name you
                  want, as long as it follows our Naming Policy. Each BattleTag
                  is assigned a numeric ID to create a unique identifier.</small
                >
              </div>

              <div class="form-group mb-4">
                <label for="username">Main Character Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Please enter your in-game main character username"
                />
              </div>
              <div class="form-group mb-4">
                <label for="ilvl">Main Character ilvl</label>
                <input
                  type="text"
                  class="form-control"
                  id="ilvl"
                  aria-describedby="ilvlHelp"
                  placeholder="Please enter your main character ilvl"
                />
                <small id="ilvlHelp" class="form-text text-muted"
                  >This can be found on warcraft logs page</small
                >
              </div>
              <div class="form-group mb-4">
                <label for="ilvl">Main Character level</label>
                <input
                  type="text"
                  class="form-control"
                  id="lvl"
                  placeholder="Please enter your main character level"
                />
              </div>

              <div class="form-group mb-4">
                <label for="connectedRealmsData"
                  >Main character in-game Realm</label
                >
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of connectedRealmsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="faction">Main character faction</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option value="1">Alliance</option>
                  <option value="2">Horde</option>
                </select>
              </div>

              <div class="form-group mb-4">
                <label for="playableRacesData">Main character Race</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of playableRacesData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="playableClassesData">Main character Class</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of playableClassesData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="classTalentsData"
                  >Main character first Specialisation</label
                >
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of classTalentsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="classTalentsData"
                  >Main character second Specialisation</label
                >
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of classTalentsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group mb-4">
                <label for="username">Reroll Character Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Please enter your in-game main character username"
                />
              </div>
              <div class="form-group mb-4">
                <label for="ilvl">Reroll Character ilvl</label>
                <input
                  type="text"
                  class="form-control"
                  id="ilvl"
                  aria-describedby="ilvlHelp"
                  placeholder="Please enter your main character ilvl"
                />
                <small id="ilvlHelp" class="form-text text-muted"
                  >This can be found on warcraft logs page</small
                >
              </div>
              <div class="form-group mb-4">
                <label for="ilvl">Reroll Character level</label>
                <input
                  type="text"
                  class="form-control"
                  id="lvl"
                  placeholder="Please enter your main character level"
                />
              </div>
              <div class="form-group mb-4">
                <label for="connectedRealmsData"
                  >Reroll character in-game Realm</label
                >
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of connectedRealmsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="faction">Reroll character faction</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option value="1">Alliance</option>
                  <option value="2">Horde</option>
                </select>
              </div>

              <div class="form-group mb-4">
                <label for="playableRacesData">Reroll character Race</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of playableRacesData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="playableClassesData">Reroll character Class</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of playableClassesData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="classTalentsData"
                  >Reroll character first Specialisation</label
                >
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of classTalentsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="classTalentsData"
                  >Reroll character second Specialisation</label
                >
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of classTalentsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

          <div class="col">
            <img
              class="center"
              src="../../assets/profile-pictures/emberglade_by_cher_ro_dcezmfy-fullview.jpg"
              style="width: 100%"
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col" aria-describedby="imghelp">
            <img
              class="center"
              src="https://i.pinimg.com/564x/b3/7b/ab/b37babfab7ddc1085d126e0705724868.jpg"
              style="width: 100%"
            />
          </div>

          <div class="col">
            <form>
              <div class="form-group mb-4">
                <label for="professionsData">First profession</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of professionsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="professionsData">Second profession</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of professionsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>

              <div class="form-group mb-4">
                <label for="professionsData">Third profession</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of professionsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>

              <div class="form-group mb-4">
                <label for="professionsData">Fourth profession</label>
                <select class="form-select" aria-label="Default select example">
                  <option value=""></option>
                  <option *ngFor="let data of professionsData">
                    {{ data.name }}
                  </option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group mb-4">
                <label>I am:</label>
                <select class="form-select" aria-label="Default select example">
                  <option value="">A player without guild</option>
                  <option value="">A guild member</option>
                  <option value="">A guild officer</option>
                  <option value="">A guild leader</option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label class="mb-2">I will be using Raiddon in the following way:</label>
                <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
            
                <label class="form-check-label" for="flexCheckDefault">
                  Join a guild
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Create a Guild
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Look for raids
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Create Raids
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Just for fun
                </label>
            </div>
              </div>
              <div class="form-group mb-4">
                <label class="mb-2">How did you hear about us?</label>
                <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
            
                <label class="form-check-label" for="flexCheckDefault">
                  From a friend
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Google seach
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                   Gaming Forums
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Twitch
                </label>
            </div>
            <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Discord groups
                </label>
            </div>
              </div>


              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

          <div class="col">
            <img
              class="center"
              src="https://rare-gallery.com/uploads/posts/329141-Jaina-Proudmoore-WoW-4K-iphone-wallpaper.jpg"
              style="width: 100%"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<h2></h2>
<app-footer> </app-footer> -->
