<app-navbar></app-navbar>

<section class="section_all bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title_all text-center">
                    <h3 class="font-weight-bold">Welcome To <span class="text-custom">Raiddon</span></h3>
                    <p class="section_subtitle mx-auto text-muted">Discover new ways to optimize your World of Warcraft experience <br/></p>
                    <div class="">
                        <i class=""></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vertical_content_manage mt-5">
            <div class="col-lg-6">
                <div class="about_header_main mt-3">
                    <h4 class="about_heading text-capitalize font-weight-bold mt-4">Lorem Ipsum is simply dummy text of the printing industry.</h4>
                    <p class="text-muted mt-3">Game Boy Advance stats Beat 'Em Up combo beta Fatality bug NPC slow-down Gran Turismo Deathmatch Rush Kinect. 
                        3d graphics console headshot Resident Evil NPC grind Sidescroller.</p>

                    <p class="text-muted mt-3"> Star Wars: Battlefront combo first-person anti-aliasing Mario Kart area of effect KDR easter eggs ragequit advergame 
                        Castlevania invisible wall broken. The Legend of Zelda zero-player game Ratchet & Clank publisher lag shmups Kirby pre-rendered graphics frame. 
                        Nerf Super Mario kill screen Mario Party pause LoL Healer matchmaking. Multiplayer online battle arena MMO DRM gamer action point nerf spoiler dead zone. 
                        NES aimbot going gold controller troll kart racing Beat 'em up. </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img_about mt-3">
                    <img src="https://i.pinimg.com/originals/e0/fe/9d/e0fe9d96495501579c515149fb4b6cb6.gif" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa-solid fa-gamepad"></i>
                        </div>
                        <h5 class="text-light text-capitalize mt-3 font-weight-bold">Creative Design</h5>
                        <p class="edu_desc mt-3 mb-0 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa-regular fa-chess-rook"></i>
                        </div>
                        <h5 class="text-light text-capitalize mt-3 font-weight-bold">We make Best Result</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                        <h5 class="text-light text-capitalize mt-3 font-weight-bold">best platform </h5>
                        <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>