

<section class="section_all bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title_all text-center">
                    <h3 class="font-weight-bold">Welcome To <span class="text-custom">Raiddon</span></h3>
                    <p class="section_subtitle mx-auto text-muted "> <br/></p>
                    <div class="">
                        <i class=""></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vertical_content_manage mt-5">
            <div class="col-lg-6">
                <div class="about_header_main mt-3">
                    <h4 class="about_heading text-capitalize font-weight-bold mt-4">Discover new ways to optimize your World of Warcraft experience</h4>
                    <p class="text-muted mt-3">World of Warcraft addons can make everyday activities like questing and trading much easier.
                        Blizzard’s critically acclaimed MMORPG has a habit of hiding a lot of useful data it collects, and
                        picking up a mod that offers a peek behind the curtain can be a literal gamechanger when going
                        up against deadly bosses. Of course, the best WoW addons aren’t just aimed at avid raiders.
                        Some are more focused on utility, freshening up the multiplayer game’s geriatric UI, while others
                        help track material nodes for those all-important professions.</p>

                    <p class="text-muted mt-3"> Raiddon is a world of warcraft addon/website aiming to provide helpful features for world of
                        warcraft classic players. It mainly offers services that many players may find useful and that do
                        not exist within the default game interface. </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img_about mt-3">
                    <img src="https://i.pinimg.com/originals/e0/fe/9d/e0fe9d96495501579c515149fb4b6cb6.gif" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>

        <div class="row mt-3">

            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa-regular fa-chess-rook"></i>
                        </div>
                        <h5 class="text-light text-capitalize mt-3 font-weight-bold">We make Best Result</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted">Raiddon is a project that fosters all the developpement and conceptual understandings acquired
                            throughout the ISIKA 10-month educational program. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa-solid fa-gamepad"></i>
                        </div>
                        <h5 class="text-light text-capitalize mt-3 font-weight-bold">Creative Design</h5>
                        <p class="edu_desc mt-3 mb-0 text-muted">The project is broken down into
                            multiple micro-services, each having its own logic, that are as autonomous as possible; therefore,
                            guaranteeing Raiddon better maintainability and scalability.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                        <h5 class="text-light text-capitalize mt-3 font-weight-bold">best platform </h5>
                        <p class="edu_desc mb-0 mt-3 text-muted">Raiddon follows a microservice architecture style that
                            allows structuring the whole application as a collection of services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
