<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“  	Thero'shan, Isera'duna, Ash'therod, Dorados'no, Shar'adore  ” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://cdna.artstation.com/p/assets/images/images/028/123/414/large/polina-tarakanova-0056.jpg?1593544043"
                style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>The blood elves are high elves who changed their name after the Scourge invasion of
                Quel'Thalas. Their new name is a dirge, referencing both the blood of their many brethren who fell
                during the Third War, and their royal lineage</p>
            <p>
                For nearly 7,000 years, high elven society centered on the sacred Sunwell, a magical fount that was
                created using a vial of pure arcane energy from the first Well of Eternity. Nourished and strengthened
                by the Sunwell's potent energies, the high elves' enchanted kingdom of Quel'Thalas prospered within the
                verdant forests north of Lordaeron. During the Third War, however, the high elves were nearly scoured
                from Azeroth. Led by the death knight Arthas, a Scourge army stormed into Quel'Thalas, slaughtering
                almost ninety percent of the kingdom's population. Arthas then used the mystical Sunwell to resurrect
                the fallen necromancer Kel'Thuzad, irrevocably tainting the fount in the process. Prince Kael'thas
                Sunstrider rushed to his homeland's aid, and the survivors of the onslaught were renamed the "blood
                elves" in honor of their fallen people.
            </p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td> Quel'Thalas, Horde, Illidari, Scryers, Shattered Sun Offensive, Kirin Tor, Argent Crusade,
                        Burning Legion, Independent</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Demon hunter, Hunter, Mage, Monk, Paladin, Priest, Rogue, Warlock, Warrior</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td>Silvermoon City</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Lor'themar Theron, Voren'thal the Seer, Kael'thas Sunstrider
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td>Hawkstrider, Dragonhawk</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td>Eastern Kingdoms, Northrend, Outland</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td>Thalassian</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>