<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Inscription</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Inscription is a profession which was introduced in World of Warcraft: Wrath of the Lich King Patch 3.0.2.
        Inscription allows players to create glyphs, scrolls, Darkmoon cards, vellum and various off-hand tomes.
        Inscription includes a "gathering" skill: milling. This skill creates base materials from herbs, and is similar
        to disenchanting and prospecting. </p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-inscription.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>
        Inscription is taught by various inscription trainers located throughout the world. Prospective scribes must be
        level 5. Initial training costs 10 copper, granting the Apprentice level with a potential skill of 75.

        Inscription Trainers are available in every racial capital, allowing players to train in all proficiencies.
        Trainers are also available in World of Warcraft: The Burning Crusade Hellfire Peninsula and World of Warcraft:
        Wrath of the Lich King Northrend.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>