<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Applying</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
  <!--Textarea with icon prefix-->
  <div class="md-form">
    <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
  </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary">Send</button>
  </div>
