.nav-item:hover {
    transform: scale(1.2);
    color: white;
}

.nav-click:hover {
    transform: scale(1.1);
    background-color: #59287a ;
}


.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}