<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Enchanting</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Enchanting is a primary profession in which characters use magical formulas to grant permanent augmentation to
        armor, weapons, and other items. Enchanting recipes require the use of special Enchanting ingredients which can
        be gathered by disenchanting items of uncommon or better quality or found as loot. Using these ingredients
        enchanters can make items more powerful by adding a statistic bonus like strength or intellect or many other
        options. </p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-enchanting.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>
        Enchanting is taught by various enchanting trainers located throughout the world. Prospective enchanters must be
        at least level 5. Initial training costs 10c, granting the Apprentice level with a potential skill of 75 and
        access to a few starting enchantments. More enchantments can be learned from trainers, bought from vendors, or
        found throughout the world as the enchanter raises their skill level. In order to do enchantments, enchanters
        will need a [Runed Copper Rod] in their inventory.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>