<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“ Lok, Tar, Kaz, Ruk, Kek, Mog, Zug, Gul, Nuk, Aaz, Kil, Ogg ” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://i.pinimg.com/originals/6f/c0/96/6fc096d1fb75e79f8af122386f31b163.png"
                style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>The orcs are a prolific and physically powerful race hailing from the once-lush world of Draenor, now
                known as the shattered realm of Outland. Originally a shamanistic people cultivating a primitive
                clan-based society, the orcs were corrupted by Kil'jaeden—a demon lord of the Burning Legion—and
                manipulated into forming a bloodthirsty Horde that waged war on the peaceful draenei race. Rampant
                demonic corruption caused the orcs to be filled with bloodlust and turned their normally brown skin into
                shades of green, culminating with Kil'jaeden's servant Gul'dan convincing the orc chieftains to drink
                the blood of the demon Mannoroth and thereby enslaving them to the Burning Legion's will. </p>
            <p>After conquering Draenor, the Horde invaded the world of Azeroth through the Dark Portal and waged war
                upon the world's native kingdoms, until Azeroth's nations united into an Alliance of Lordaeron that
                managed to defeat the invaders and enslave most of the survivors. Yet, the shamanistic tradition of the
                orcs managed to rekindle from the ashes as a young shaman named Thrall arose to become warchief and lead
                his people in their darkest hour. </p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Durotar, Horde, The Mag'har, Earthen Ring, Argent Crusade, Shadow Council, Twilight's Hammer
                        (Old Gods' forces)
                        Alternate Draenor:
                        Iron Horde, Shadow Council</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Druid, Hunter, Mage, Paladin, Priest, Rogue, Shaman, Warlock, Warrior</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td>Orgrimmar,
                        Garadar,
                        Blackrock Spire</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Thrall,
                        Geyah
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td>Wolf,
                        Wyvern,
                        Kodo,
                        Proto-dragon,
                        Rylak,
                        Clefthoof,
                        Talbuk</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td> Draenor (Outland),
                        Alternate Draenor</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td>Azeroth, Outland, Alternate Draenor</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td>Orcish</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>