<div class="main bg-image" style="
    background-image: url('https://i.pinimg.com/originals/83/b0/54/83b054919580af2ac3aafecd9a3b5688.gif');
    height: 50vh;
  ">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 typewriter">Want to know more about WoW?</h1>
      <h5 class="mb-4">
        By using our game data page you may find all your answers !
      </h5>
    </div>
  </div>
</div>

<div class="main" style="background-color: #282828">
  <h2></h2>
  <div class="tabs" style="background-color: #C0C0C0">
    <input type="radio" id="tab1" name="tab-control" checked />
    <input type="radio" id="tab2" name="tab-control" />
    <input type="radio" id="tab3" name="tab-control" />
    <input type="radio" id="tab4" name="tab-control" />
    <ul>
      <li title="Features">
        <label for="tab1" role="button"><br /><span>Playable Characters</span></label>
      </li>
      <li title="Delivery Contents">
        <label for="tab2" role="button"><br /><span>Professions</span></label>
      </li>
      <li title="Shipping">
        <label for="tab3" role="button"><br /><span>Connected Realms</span></label>
      </li>
      <li title="Returns">
        <label for="tab4" role="button"><br /><span>Reputation Factions</span></label>
      </li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <img class="center" src="../../assets/wow-images/a.png" style="width: 130vh;" />
        <mdb-tabs>
          <mdb-tab title="Races">

            <div class="row">
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Human'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Human'">
                        <img class="card-img-top img-fluid" src="https://images6.alphacoders.com/984/984499.png"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openHumanModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Orc'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Orc'">
                        <img class="card-img-top img-fluid"
                          src="https://townsquare.media/site/442/files/2013/11/Warcraft-Durotan.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openOrcModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Dwarf'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Dwarf'">
                        <img class="card-img-top img-fluid"
                          src="https://blizzardwatch.com/wp-content/uploads/2016/07/WoW_TCG_dwarf_paladin.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openDwarfModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Night Elf'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Night Elf'">
                        <img class="card-img-top img-fluid"
                          src="https://www.pcgamesn.com/wp-content/sites/pcgamesn/2019/05/warcraft-night-elf.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openNightElfModal()">
                          {{ data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Undead'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Undead'">
                        <img class="card-img-top img-fluid"
                          src="https://miro.medium.com/max/697/1*Eg40Sn89vE64xv9BrGOUCA.png" alt="Card image cap"
                          style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openUndeadModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Tauren'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Tauren'">
                        <img class="card-img-top img-fluid"
                          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/705b1c70-b724-447d-9eea-4f3e76650a75/daf6jqv-a441f099-82a0-4f2c-9fc2-c0961aa43f23.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzcwNWIxYzcwLWI3MjQtNDQ3ZC05ZWVhLTRmM2U3NjY1MGE3NVwvZGFmNmpxdi1hNDQxZjA5OS04MmEwLTRmMmMtOWZjMi1jMDk2MWFhNDNmMjMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.N62Q7yWkgav8Yf6gkyBbd2ZoV3poYaLSNtCBduHhprE"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTaurenModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Gnome'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Gnome'">
                        <img class="card-img-top img-fluid"
                          src="https://blizzardwatch.com/wp-content/uploads/2015/11/GnomeHeader01-Header-110115.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openGnomeModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Troll'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Troll'">
                        <img class="card-img-top img-fluid"
                          src="https://scontent.frns1-1.fna.fbcdn.net/v/t31.18172-8/17760805_1876677585936405_9072389450070311190_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=9267fe&_nc_ohc=FfwwP_bhemQAX9q-dWR&_nc_ht=scontent.frns1-1.fna&oh=00_AfD88wj9wLeZYmMTPyit5sgQBBZKR5WKPYtWIjwjvGhU2A&oe=63C29B65"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTrollModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Blood Elf'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Blood Elf'">
                        <img class="card-img-top img-fluid"
                          src="https://blizzardwatch.com/wp-content/uploads/2016/07/WoW_TCG_Firewarden_Wyland.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openBloodElfModal()">
                          {{ data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableRacesData" ;>
                <ng-container *ngIf="data.name == 'Draenei'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Draenei'">
                        <img class="card-img-top img-fluid"
                          src="https://images4.alphacoders.com/727/thumb-1920-727855.jpg" alt="Card image cap"
                          style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openDraeneiModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </mdb-tab>
          <mdb-tab title="Classes">
            <div class="row">
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Warrior'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Warrior'">
                        <img class="card-img-top img-fluid"
                          src="https://e0.pxfuel.com/wallpapers/862/957/desktop-wallpaper-world-of-warcraft-human-warrior-wow-warrior.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Paladin'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Paladin'">
                        <img class="card-img-top img-fluid"
                          src="https://external-preview.redd.it/FdTGiJR_czdebCU9hcf1c7na-7-IVsFNQYxuvfA5-HY.jpg?auto=webp&s=feebabce1e35ac24531d596f5f90e2030679ae51"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Hunter'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Hunter'">
                        <img class="card-img-top img-fluid"
                          src="https://cdn.wccftech.com/wp-content/uploads/2019/07/wow-classic-hunter.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Rogue'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Rogue'">
                        <img class="card-img-top img-fluid"
                          src="https://dhbiuzu7sx6b3.cloudfront.net/assets/article/2020/06/29/rogue-classic-stamp-2_feature.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Priest'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Priest'">
                        <img class="card-img-top img-fluid" src="https://wallpaperaccess.com/full/3838509.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Shaman'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Shaman'">
                        <img class="card-img-top img-fluid"
                          src="https://static.icy-veins.com/images/classic/og-images/shaman.jpg" alt="Card image cap"
                          style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Mage'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;">
                      <ng-container *ngIf="data.name == 'Mage'">
                        <img class="card-img-top img-fluid"
                          src="https://cs12.pikabu.ru/post_img/big/2020/01/18/9/1579359548143371136.png"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Warlock'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Warlock'">
                        <img class="card-img-top img-fluid"
                          src="https://i.etsystatic.com/15391860/r/il/6b73f5/1273256799/il_570xN.1273256799_cel2.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Druid'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Druid'">
                        <img class="card-img-top img-fluid"
                          src="https://i.pinimg.com/originals/db/e0/e0/dbe0e0bebbb9dcd1c05d47f3cb6516fd.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of playableClassesData">
                <ng-container *ngIf="data.name == 'Death Knight'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;">
                      <ng-container *ngIf="data.name == 'Death Knight'">
                        <img class="card-img-top img-fluid"
                          src="https://preview.redd.it/v338r6lng8061.jpg?auto=webp&s=359080926cfd8118f760c6392c81aa37ce2345ed"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openClassesModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </mdb-tab>
          <mdb-tab title="Talents">
            <div class="row">
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Marksmanship'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Marksmanship'">
                        <img class="card-img-top img-fluid"
                          src="https://assets.tentonhammer.com/guides/attached_images/000/011/813/medium/MMHunterHERO.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Survival'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Survival'">
                        <img class="card-img-top img-fluid"
                          src="https://static1-us.millenium.gg/articles/3/21/03/@/20214-1030599-survie-orig-1-article_cover_bd-1.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Beast Mastery'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Beast Mastery'">
                        <img class="card-img-top img-fluid"
                          src="https://cdn1.dotesports.com/wp-content/uploads/2021/05/25131538/Fenryr.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Elemental'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Elemental'">
                        <img class="card-img-top img-fluid"
                          src="https://top-mmo.fr/wp-content/uploads/2021/04/Elemental-Shaman-1.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Enhancement'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Enhancement'">
                        <img class="card-img-top img-fluid"
                          src="https://static.icy-veins.com/images/wow/class-guides/og-image-shaman.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Balance'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Balance'">
                        <img class="card-img-top img-fluid"
                          src="https://c4.wallpaperflare.com/wallpaper/974/533/74/warcraft-world-of-warcraft-druid-boomkin-wallpaper-preview.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Guardian'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Guardian'">
                        <img class="card-img-top img-fluid"
                          src="https://digwallpapers.com/wallpapers/full/5/a/1/108141-2560x1600-wow-druid-background-image-desktop-hd.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Feral'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Feral'">
                        <img class="card-img-top img-fluid"
                          src="https://preview.redd.it/gx6bgp6dake61.png?auto=webp&s=2b4bcf623c25999734bc7fcdc11d3c3c341d93a0"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Fury'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Fury'">
                        <img class="card-img-top img-fluid"
                          src="https://static1-us.millenium.gg/articles/1/17/61/@/15522-1024827-fury-article-image-bd-2-article_m-2.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Arms'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Arms'">
                        <img class="card-img-top img-fluid"
                          src="https://assets.tentonhammer.com/guides/attached_images/000/011/834/medium/ArmsWarrHERO.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Blood'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Blood'">
                        <img class="card-img-top img-fluid"
                          src="https://www.spear-wow.com/wp-content/uploads/2022/11/blood-dk.jpg" alt="Card image cap"
                          style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Unholy'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Unholy'">
                        <img class="card-img-top img-fluid"
                          src="https://246ee74fe8.cbaul-cdnwnd.com/1f74b32e7170b547eb3567197092848b/200000049-7e55f7f5c8/UHDK.jpg?ph=246ee74fe8"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Discipline'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Discipline'">
                        <img class="card-img-top img-fluid"
                          src="https://static.icy-veins.com/images/wow/class-guides/og-image-priest.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Shadow'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Shadow'">
                        <img class="card-img-top img-fluid" src="http://i.imgur.com/5s3lpG6.jpg" alt="Card image cap"
                          style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Fire'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Fire'">
                        <img class="card-img-top img-fluid"
                          src="https://assets.tentonhammer.com/guides/attached_images/000/011/817/medium/1200FireMage.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Arcane'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Arcane'">
                        <img class="card-img-top img-fluid"
                          src="https://i.pinimg.com/originals/ef/d9/9c/efd99cec13e28b48f12c5d12ff8e40b8.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Demonology'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Demonology'">
                        <img class="card-img-top img-fluid"
                          src="https://blizzardwatch.com/wp-content/uploads/2015/09/tcg-warlock-1.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Destruction'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Destruction'">
                        <img class="card-img-top img-fluid"
                          src="https://i.pinimg.com/736x/6b/e3/73/6be373f1b365af95f1da7ac8040482b8.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Subtlety'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Subtlety'">
                        <img class="card-img-top img-fluid"
                          src="https://assets.tentonhammer.com/guides/attached_images/000/011/827/medium/SubRogueHERO.jpg"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let data of classTalentsData" ;>
                <ng-container *ngIf="data.name == 'Vengeance'" ;>
                  <div class="col-sm-6 col-md-3">
                    <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                      <ng-container *ngIf="data.name == 'Vengeance'">
                        <img class="card-img-top img-fluid"
                          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/320b3d96-17c5-4555-9c8b-d66cca426a00/deynrh0-a7386212-fdbf-4cbf-8720-053be7337787.png/v1/fill/w_942,h_848,q_70,strp/shadow_of_vengeance_by_geedert_deynrh0-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTE1MyIsInBhdGgiOiJcL2ZcLzMyMGIzZDk2LTE3YzUtNDU1NS05YzhiLWQ2NmNjYTQyNmEwMFwvZGV5bnJoMC1hNzM4NjIxMi1mZGJmLTRjYmYtODcyMC0wNTNiZTczMzc3ODcucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.H1ghu13te8wYG7qy7-MP2xTVk7F3Mlyn-CrIG2Id8T0"
                          alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                      <div class="card-body">
                        <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTalentsModal()">{{
                          data.name }}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </mdb-tab>
        </mdb-tabs>
      </section>

      <section>
        <img class="center" src="../../assets/wow-images/982478.jpg" style="width: 130vh;" />
        <div class="row">
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Engineering'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Engineering'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/wow/og-image-engineering.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openEngineeringModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Skinning'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Skinning'">
                    <img class="card-img-top img-fluid" src="https://static1-us.millenium.gg/articles/0/50/10/@/56457-leatherworker-article_cover_bd-1.png"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openSkiningModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Blacksmithing'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Blacksmithing'">
                    <img class="card-img-top img-fluid" src="https://wow.zamimg.com/uploads/guide/seo/8205.jpg?1559879659"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openBlacksmithingModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Enchanting'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Enchanting'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/wow/og-image-enchanting.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openEnchantingModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Herbalism'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Herbalism'">
                    <img class="card-img-top img-fluid" src="https://static1-us.millenium.gg/articles/0/46/50/@/52305-herbalism-article_cover_bd-1.png"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openHerbalismModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Mining'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Mining'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/classic/og-images/mining.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openMiningModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Tailoring'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Tailoring'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/classic/og-images/tailoring.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openTailoringModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Inscription'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Inscription'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/wow/og-image-inscription.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openInscriptionModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Cooking'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Cooking'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/classic/og-images/cooking.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openCookingModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Fishing'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Fishing'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/classic/og-images/fishing.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openFishingModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Leatherworking'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Leatherworking'">
                    <img class="card-img-top img-fluid" src="https://overgear.com/cdn-cgi/image/width=360,quality=85,format=webp/cdn/uploads/e6ed7e2d2aab4a06b526d50aaebae952.jpeg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openLeatherWorkingModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Alchemy'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Alchemy'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/wow/og-image-alchemy.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openAlchemyModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let data of professionsData" ;>
            <ng-container *ngIf="data.name == 'Jewelcrafting'" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;;">
                  <ng-container *ngIf="data.name == 'Jewelcrafting'">
                    <img class="card-img-top img-fluid" src="https://static.icy-veins.com/images/wow/og-image-jewelcrafting.jpg"
                      alt="Card image cap" style="width: 400px;height: 250px;" /></ng-container>
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue; cursor: pointer" (click)="openJewelCraftingModal()">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </section>
      <section>
        <div class="row">
          <ng-container *ngFor="let data of connectedRealmsData" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;width:300px;">
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue;">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
          </ng-container>
          </div>
      </section>
      <section>
        <div class="row">
          <ng-container *ngFor="let data of reputationFactionsData" ;>
              <div class="col-sm-6 col-md-3">
                <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light" style="background-color: #59287a;width:300px;height:120px">
                  <div class="card-body">
                    <h4 class="card-title" style="color: aliceblue;">{{
                      data.name }}</h4>
                  </div>
                </div>
              </div>
          </ng-container>
          </div>
      </section>
    </div>
  </div>
  <h2></h2>
</div>