<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Engineering</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Engineering is a primary crafting profession that can create many useful, unique and amazing items, as well as
        junk (but often explosive junk!). Engineers can create helpful items for generally all classes to be used in PvE
        or PvP. To counterbalance this usefulness, most items crafted by engineering require engineering skill to use,
        and many of these items come with a chance for unexpected backfires with often hilarious results. Hunters in
        particular see much use for engineered guns and scopes. </p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-engineering.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>
        Engineering is taught by various engineering trainers located throughout the world. Prospective engineers must
        be at least level 5. Initial training costs 10c, granting the Apprentice level with a potential skill of 75 and
        access to a few starting engineering schematics. More schematics can be learned from trainers or found
        throughout the world as the engineer raises their skill level.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>