
    <div class="modal-header">
        <div class="main bg-image" style="
      background-image: url('https://cdn.wallpapersafari.com/1/87/vrVYW5.jpg');
      height: 20vh;
    ">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="ms-3 mb-3">All your attribute values are here !</h1>
            </div>
          </div>
        </div>
      </div>

  <div class="modal-body">

    <form class="stats">
          <div class="input-group mb-2">
            <div class="input-group-text">Total iLevel</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Armor</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Agility</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Stamina</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Intellect</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Strength</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Hit Rating</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Haste Rating</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Critical Strike</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Spell Power</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Attack Power</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Defense Value</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Block Value</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Parry Value</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Expertise Score</div>
            <div class="input-group-text">xxx</div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text">Total Mana Regenration (MP5)</div>
            <div class="input-group-text">xxx</div>
          </div>
        </form>

</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
      </button>
</div>
