<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“  	Angordame, Elodergim, Elodmodor, Naggirath, Nockhavis  ” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://external-preview.redd.it/bNTKsqCMWPj6fnGUPb4YR1bQOxVN1F0gyro8mdRQy9M.jpg?auto=webp&s=2561200fd319e998b8ac37ee964b82898b6a3ac2"
                style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>The gnomes are a race of
                diminutive and highly intelligent humanoids, known for their mastery of technology. They were originally
                descended from mechagnomes, metallic titan-forged, who were afflicted with the Curse of Flesh. The early
                gnomes eventually found their way to Khaz Modan, where they founded the capital of Gnomeregan and became
                allies with their nearby dwarven cousins. For years the gnomes were based in Gnomeregan, providing
                technological support to the Alliance during the Second War, until a trogg invasion and treachery from
                within irradiated Gnomeregan and killed as much as eighty percent of the gnomish population. The gnomes
                were forced into exile in Tinker Town in the dwarven capital of Ironforge, until, following the
                Cataclysm, the gnomes launched a partially successful recapture of Gnomeregan, and are now based in New
                Tinkertown. After reconciling with the long-isolated mechagnomes of Mechagon Island, Gelbin Mekkatorque
                became the king of all gnomes, their people finally reunited after centuries. </p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Gnomeregan, Alliance, Independent, Kirin Tor, Argent Crusade, Arcforged, Rustbolt Resistance,
                        Alliance of Lordaeron</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Hunter, Mage, Monk, Priest, Rogue, Warlock, Warrior
                        Ace, Archmage, Sorcerer, Bombardier, Commoner, Engineer, Sapper, Techno mage, Tinker</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td> Gnomeregan (reconquering in process), Mechagon City </td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Gelbin Mekkatorque
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td>Horse, Gryphon</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td> Eastern Kingdoms; Mechagon Island</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td> Gnomish, Dwarven, Common, Goblin, Thalassian</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>