<app-navbar></app-navbar>

<div class="main animate-opacity">

  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" autocomplete="off" class="form animate-opacity">
    <div class="control">
      <h1>Sign In</h1>
    </div>
    <div class="control block-cube block-input animate-left">
      <input name="username" placeholder="Username" type="text" ngModel=""
      #usernameInput="ngModel" required/>
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <div class="control block-cube block-input animate-right">
      <input name="password" placeholder="Password" type="password" ngModel=""
      #passwordInput="ngModel" required/>
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <button class="btn block-cube block-cube-hover animate-zoom" type="submit">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="text">Log In</div>
    </button>
    <div class='register animate-zoom'>
      Don't have an account yet? 
      <p><a href='register'>
        Register here!
      </a></p>
    </div>
  </form>
  <h2></h2>
</div>