<div class="modal-header">
  <div class="main bg-image" style="
background-image: url('https://c4.wallpaperflare.com/wallpaper/374/434/470/warcraft-world-of-warcraft-dragon-onyxia-world-of-warcraft-orc-hd-wallpaper-preview.jpg');
height: 20vh;
">
<div class="d-flex justify-content-center align-items-center h-100">
<div class="text-white">
  <h1 class="ms-3 mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </h1>
</div>
</div>
</div>
</div>
  <div class="modal-body">
  <!--Textarea with icon prefix-->
  <div class="md-form">
    <input disabled="" placeholder="Your username" id="form10" class="md-textarea form-control" rows="3" [(ngModel)]="userSender.playableCharacter.name" />
  </div>
  <h2></h2>
  <div class="md-form">
    <input placeholder="Subject" id="form10" class="md-textarea form-control" rows="3" [(ngModel)]="messaging.subject"/>
  </div>
  <h2></h2>
  <div class="md-form">
    <textarea placeholder="Hello there..." id="form10" class="md-textarea form-control" rows="3" [(ngModel)]="messaging.message"></textarea>
  </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="createMessage()">Send</button>
  </div>
