<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Mining</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Mining allows you to find and mine ores, stones, and raw gems from resource nodes and certain mobs (see Ore
        skinning) scattered throughout the world. It is one of the primary professions. Materials from mining and the
        items miners can create from them are reagents needed for recipes within other professions. </p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-mining.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>
        Mining is a complementary profession to blacksmithing, engineering and jewelcrafting. These professions rely
        specifically on ore and ore-derived materials.

        Mining can be a profitable gathering profession because of the large sums utilized by the other primary
        professions. Jewelcrafters require five ore per prospect, blacksmiths can use dozens of bars for specific items,
        and engineers use large amounts of ore for the many consumable materials they can create.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>