<app-navbar></app-navbar>
<div class="main">
<div class="contact-form-container">
    <div class="contact-us">
      <div class="contact-header">
        <h1>
          &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;CONTACT US
        </h1>
      </div>
      <div class="social-bar">
        <ul>
          <li>
            <i class="fab fa-facebook-f"></i>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
          </li>
          <li>
            <i class="fab fa-dribbble"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="header">
      <h1>
        Let's Get Started
      </h1>
      <h2>
        Contact us for more information ! 
      </h2>
      <h6 class="text-muted">Maybe your question is already answered <a href="faq">here</a></h6>
    </div>
    <div class="address">
      <i class="fas fa-map-marker-alt"></i>
      <h3>
        xxxxx
      </h3>
    </div>
    <div class="phone">
      <i class="fas fa-phone-alt"></i>
      <h3>
        xxxxx
      </h3>
    </div>
    <div class="email">
      <i class="fas fa-envelope"></i>
      <h3>
        xxxxx
      </h3>
    </div>
    <div class="contact-form">
      <form>
        <input placeholder="Name" type="text" />
        <input placeholder="Email" type="email" />
        <textarea placeholder="How can we help you ?" rows="4"></textarea>
        <button type="button">SEND </button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>