* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://images7.alphacoders.com/123/1230595.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness();
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.container {
  text-align: center;
  color: white;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  font-weight: 400;
  
}

p {
  font-size: 1.15rem;
  letter-spacing: 3px;
  margin: 20px 0 40px;
}

.home-button {
  color: white;
  text-decoration: none;
  border: 2px white solid;
  padding: 10px 15px;
}

.home-button:hover,
.home-button:focus {
  background: hsl(0, 100%, 100%, .2);
  outline: none;
}

