<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Alchemy</h5>
</div>
<div class="modal-body">
  <p>The alchemist mixes herbs found by Herbalism and reagents in order to concoct elixirs, potions, oils, flasks and
    cauldrons with a variety of effects. A player can create healing, invisibility, elemental resistance and mana
    potions; oils to coat weapons; and much more.</p>
  <p>
  <h2></h2>
  <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-alchemy.jpg?maxWidth=1630"
    style="width: 100%;" />
  <h2></h2>
  <p>
    Alchemy is useful to all character classes. Melee fighters can use alchemy to create buff and healing potions. Spell
    casting classes can use alchemy to create mana potions and related buffs. You can create potions for yourself, sell
    them to others, or give them to your party members and friends. Alchemists are well loved when they hand out
    potions.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
</div>