.img1 {
  position: absolute;
  z-index: -2;
  top: 410px;
  left: 425px;
  border-radius: 50%;
  width: 15%
}

.lvl {
  position: absolute;
  z-index: 5;
  top: 440px;
  left: 350px;
  font-size: 5vh;
  font-family: Georgia, serif;
  color: white;
  font-weight: 900;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.ilvl {
  position: absolute;
  z-index: 5;
  top: 965px;
  left: 360px;
  font-size: 4vh;
  font-family: Georgia, serif;
  color: white;
  font-weight: 900;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.gr {
  position: absolute;
  z-index: 5;
  top: 972px;
  left: 500px;
  font-size: 2.5vh;
  font-family: Georgia, serif;
  color: white;
  font-weight: 900;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.spec {
  position: absolute;
  z-index: 5;
  top: 872px;
  left: 420px;
  font-size: 2.8vh;
  font-family: Georgia, serif;
  color: white;
  font-weight: 900;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.name {
  position: absolute;
  z-index: 5;
  top: 720px;
  left: 525px;
  font-size: 5vh;
  font-family: 'Brush Script MT', cursive;
  font-weight: 900;

}

.img2 {
  z-index: 3;
  width: 80%;
}

h2 {
  padding: 2rem 0;
}

h3 {
  padding: 0.5rem 0;
}

h4 {
  padding: 0.2rem 0;
}

h5 {
  padding: 0.1rem 0;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.stats {
  text-align: center;
  margin-top: 5%
}

