<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<div
  class="main bg-image"
  style="
    background-image: url('https://rare-gallery.com/mocahbig/425388-landscape-digital-art-Forange-forest-artwork-World-of-Warcraft.jpg');
    height: 30vh;
  "
>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 typewriter">Welcome to {{selectedUser.battleTag}} profile !</h1>
    </div>
  </div>
</div>
<ng-container >
<section class="section about-section gray-bg" id="about" style="background-color: #282828;">
  <div class="container">
    <div class="counter">
      <div class="row align-items-center flex-row-reverse">
        <div class="col">
          <div class="about-text go-to">
            <h3 class="dark-color" ></h3>
            <div class="row about-list">
              <div class="col-md-6">
                <div class="media">
                    <label>Username</label>
                    <p>{{selectedUser.playableCharacter.name}}</p>
                </div>
                <div class="media">
                    <label>Realm</label>
                    <p>{{selectedUser.playableCharacter.realm}}</p>
                </div>
                <div class="media">
                    <label>Faction</label>
                    <p>{{selectedUser.playableCharacter.faction}}</p>
                </div>
                <div class="media">
                    <label>Race</label>
                    <p>{{selectedUser.playableCharacter.race}}</p>
                </div>
                <div class="media">
                    <label>Class</label>
                    <p>{{selectedUser.playableCharacter.playableClass}}</p>
                </div>
                <div class="media">
                    <label>Specialisations</label>
                    <p>{{selectedUser.playableCharacter.mainSpec}} / {{selectedUser.playableCharacter.secondarySpec}}</p>
                </div>
               
                
              </div>
              <div class="col-md-6">
                <div class="media">
                    <label>Professions</label>
                    <p>{{selectedUser.playableCharacter.firstProfession}} / {{selectedUser.playableCharacter.secondProfession}}</p>
                </div>
                <div class="media">
                    <label>Guild</label>
                    <p>{{selectedUser.playableCharacter.guild.guildName}}</p>
                </div>
                <div class="media">
                    <label>Guild Rank</label>
                    <p>{{selectedUser.guildRank}}</p>
                </div>
                <div class="media">
                    <label>iLvl</label>
                    <p>{{selectedUser.playableCharacter.ilevel}}</p>
                </div>
                <div class="media">
                    <label>Level</label>
                    <p>{{selectedUser.playableCharacter.level}}</p>
                </div>
                <div class="media">
                    <label>Actions</label><br />
                    <a (click)="openContactModal()" style="cursor: pointer; color:blue;"><i class="fa-solid fa-message"></i>&nbsp;&nbsp;&nbsp;&nbsp;Contact Player</a><br />
                    <!-- <a (click)="openPrefModal()" style="cursor: pointer; color:blue;"><i class="fa-solid fa-star"></i>&nbsp;&nbsp;&nbsp;Check Preferences</a><br /> -->
                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="about-avatar">
            <img
              src="{{selectedUser.profilePicture}}"
              height="500vh"
              style="
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                display: block;
              "
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" >{{filteredPlayersRankingsDataRows}}</h6>
            <p class="m-0px font-w-600">Raid Reports</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" >{{selectedUser.playableCharacter.preferences.lootSystems}}</h6>
            <p class="m-0px font-w-600">Preferred LS</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2">
            <ng-container *ngIf="filteredPlayersRankingsData | max: 'percentile' as result">{{ result | number : '1.0-2'}} %</ng-container></h6>
            <p class="m-0px font-w-600">Best Performance</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" >{{selectedUser.playableCharacter.preferences.objectives}}</h6>
            <p class="m-0px font-w-600">Objectives</p>
          </div>
        </div>
      </div>
    </div>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <div class="counter">
        <div class="row">
            <h3 class="dark-color">Raid history</h3>
<h2></h2>

        <table
  class="table align-middle" id="tableReports"
  style="width: 95%; margin: 0 auto; text-align: center"
>
  <thead class="bg-light table-dark">
    <tr>
      <th>Character Name</th>
      <th>Character Class</th>
      <th>Character Specialisation</th>
      <th>Character Parse %</th>
      <th>Character ilvl</th>
      <th>Character Ranking</th>
      <th>Encounter Name</th>
    </tr>
  </thead>
  <tbody >
    <ng-container *ngFor="let data of filteredPlayersRankingsData">
    <tr>
      <td>{{data.characterName}}</td>
      <td>{{data.class}}</td>
      <td>{{data.spec}}</td>
      <td>{{data.percentile | number : '1.0-2'}}</td>
      <td>{{data.ilvlKeyOrPatch}}</td>
      <td>{{data.rank}}</td>
      <td>{{data.encounterName}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
        </div>
    </div>
  </div>
</section>
</ng-container>