/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .grayscale { filter: grayscale(50%); }
  h2 {padding:1rem 0;}

  .rss.opacity {
    filter: opacity(80%);
  }
  
  .grayscale {
    filter: grayscale(50%);
  }
  
  .input-group {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  h2 {
    padding: 2rem 0;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  .bg-black {
    background: #000;
  }
  
  .skill-block {
    width: 50vh;
  }
  
  @media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
      padding: 32px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .skill-block {
      padding: 56px !important;
    }
  }
  
  
  .tilte {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: 10%;
  }