<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Cooking</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Cooking is one of the secondary professions in World of Warcraft.

        It is a crafting profession which, as the name suggests, revolves around making food-type consumable items. Food
        made with Cooking grants the [Well Fed] buff which, depending on the food eaten, provides temporary stat buffs
        which typically last for 1 hour. Examples include [Clefthoof Sausages] which boosts Versatility, [Barracuda
        Mrglgagh] which boosts Mastery, and [Ravenberry Tarts] which boosts Haste.</p>
    <p>
    <h2></h2>
    <img src="https://files.mmopixel.com/0/134f59a36e324fdc81bcb01825d323f2.png"
        style="width: 100%;" />
    <h2></h2>
    <p>
        The base ingredients for food is meat and fish though many foods also require spices, Cooking-specific
        ingredients such as [Juicycrunch Carrot], or even other food items. In some cases eggs (such as [Small Egg]),
        alcohol, herbs, or even more exotic ingredients are also used.

        High-level Well Fed buffs are powerful enough to make Cooking a popular profession. In particular end-game
        content often requires characters to have as good stats as possible to overcome various challenges, making
        Cooking foods a must.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>