<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Fishing</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Fishing is a secondary profession. It allows adventurers to fish various objects, primarily fish and other
        waterbound creatures, from water, lava and even liquid mercury. Many of these fish can be consumed immediately
        for a quantity of health restored, and can also be fed to hunter pets. However, the true value of this scaly
        bounty comes when combined with the profession of Cooking; fish can be prepared and combined into innumerable
        different recipes, providing far greater restorative benefits, as well as a menagerie of potential stat buffs.
        Other, rarer fish are used in Alchemy recipes or provide stranger benefits, such as transformation into
        different appearances and even the summoning of rare mobs.</p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-fishing.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>
        This profession is one of the most underappreciated, in part due to the time commitment required; however, those
        who choose to explore the potential bounties of the seas and rivers of Azeroth and beyond will find many
        benefits. There is a small army of questgivers and vendors linked to fishing, allowing access to a variety of
        mounts, toys and other perks-- there is even an entire faction in Pandaria dedicated to fishing, led by the most
        famous angler of all, Nat Pagle.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>