<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Tailoring</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Tailoring allows players to cut and weave various pieces of cloth into armor, bags, shirts, and other cloth
        items. Tailors play an especially important role in guilds because they can create bags for the entire guild,
        provided the guild members gather the proper ingredients. Tailors are responsible for creating cloth items for
        cloth-armor wearing classes: Mages, Warlocks, and Priests. They occasionally make items for other classes, such
        as cloaks or spellthread for pants.</p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/uploads/screenshots/normal/416333.jpg"
        style="width: 100%;" />
    <h2></h2>
    <p>The first staple for tailors is [Linen Cloth], followed by [Wool Cloth], [Silk Cloth], [Mageweave Cloth],
        [Runecloth], [Netherweave Cloth], [Frostweave Cloth], [Embersilk Cloth] and [Windwool Cloth]. Humanoid monsters
        typically drop these items, although most undead do as well, while demons drop [Felcloth] (used in high-level
        pre-BC patterns). Recipes usually require thread and occasionally colored dye, both of which are purchased from
        NPC trade merchants.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>