.rss.opacity { filter: opacity(80%); }
.grayscale { filter: grayscale(20%); }

.input-group{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

h2 {padding:2rem 0;}

/*Animations*/	
.animate-zoom {animation:animatezoom 0.6s}
.animate-top{position:relative;animation:animatetop 1.5s}
.animate-left{position:relative;animation:animateleft 1.5s}	
.animate-right{position:relative;animation:animateright 1.5s}
.animate-bottom{position:relative;animation:animatebottom 1.5s}
.animate-spin{animation:w3-spin 2s infinite linear}
.animate-fading{animation:fading 10s infinite}
.animate-opacity{animation:opac 1.5s}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}	
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes opac{from{opacity:0} to{opacity:1}}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }