<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Herbalism</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Herbalism is a gathering profession that allows players to find and harvest herbs from plant resource nodes
        scattered around the world. While some herbs can be used in other trade skills, the vast majority are used for
        Alchemy and Inscription.

        As with most types of gathering, interacting with an herb will dismount the herbalist. This can be overcome by
        being a druid, using a [Sky Golem], or (for Draenor herb-gathering only) building the Garrison Stables. </p>
    <p>
    <h2></h2>
    <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/ev/EV4IC3N0FL1Z1569889457108.jpg"
        style="width: 100%;" />
    <h2></h2>
    <p>
        Herbalism can be learned from herbalism trainers found throughout the world. Initial training grants the
        Apprentice level with a potential skill of 75 and allows a few low-level herbs to be gathered. More herbs can be
        gathered as the herbalist raises their skill level.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>