<div class="main bg-image grayscale" style="
    background-image: url('../../assets/wow-images/504723.jpg');
    height: 50vh;
  ">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 typewriter">Looking for a Player?</h1>
      <h5 class="mb-4">
        By using our player finder page you may find your new guild member !
      </h5>
    </div>
  </div>
</div>
<div class="second-main" style="background-color: #282828">

  <div class="caption">
    <h2></h2>
    <div class="input-group">
      <input
        type="text"
        class="form-control rounded"
        placeholder="Search by username"
        [(ngModel)]="username"
      />
      <button type="button" class="btn btn-outline-secondary input-group-append" (click)="searchUserName()">search</button>
    </div>
    <div class="container animate-bottom" >
      <h2></h2>
      <div class="row">
        <ng-container *ngFor="let user of users";>
        <div class="col-sm-6 col-md-3" >
          <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
            
            <img
              class="card-img-top img-fluid"
              src="{{user.profilePicture}}"
              alt="Card image cap"
              style="width: 550px;height: 400px;"
            />
            <div class="card-body">
              <h4 class="card-title">{{user.battleTag}}</h4>
              <a routerLink="player-details/{{user.id}}" (click)="setSelectedUser(user)" class="btn btn-secondary">Check Player</a>
            </div>
          </div>
        </div>
      </ng-container>
      </div>
    </div>
    </div>
    <h2></h2>
  </div>