<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Your Inbox</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <ng-container *ngFor="let sms of filteredMessages">
        <div class="row">
            <div class="col" style="text-align: justify;
    text-justify: inter-word;">
                <div class="card" style="height: auto;">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img style="border-radius: 100%; height:150px; width:100px; margin-left: 10px;
                            margin-top: 10px;
                            display: block;"
                                src="{{sms.userSender.profilePicture}}"
                                alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">From: {{sms.userSender.playableCharacter.name}}</h4>
                            <p class="card-text">Subject: {{sms.subject}}</p>
                            <p class="card-text">Content: {{sms.message}}</p>
                            <h2></h2><hr><h2></h2>
                            <input placeholder="Subject" /><br /><br />
                            <TextArea placeholder="Hello there..." ></TextArea><br /><br />
                            <button type="button" class="btn btn-secondary"> Delete Message</button> &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-secondary"> Reply to
                                &nbsp;{{sms.userSender.playableCharacter.name}}</button>
                        </div>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>