<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“  	Ackee, Atuad, Caang, Difus, Nehjo Siame, T'ief, Wassa  ” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://i.etsystatic.com/31102689/r/il/caea5f/3350270081/il_fullxfull.3350270081_g45u.jpg"
                style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>Trolls (collectively referred to as trollkind) are a diverse sapient race that can be found in
                every part of Azeroth. They are one of the world's oldest known native races. Trolls are divided into
                many subgroups adapted to different environments, namely blood trolls, dark trolls, forest trolls, ice
                trolls, jungle trolls, sand trolls, and Zandalari trolls.</p>
            <p>
                Many trolls have no loyalty except amongst their own tribes, but some important groups have joined the
                Horde: the Darkspear tribe, Shatterspear tribe, Revantusk tribe, and Zandalari Empire. Some forest
                trolls cling to their allegiance to the Old Horde and its villainous offshoots. Troll is a race grouped
                into tribes, with each varying from being tall, lanky, and muscular, and being different than the
                others both physically and culturally. They have both elven and orc-like characteristics with their
                fierce tusks and long ears. </p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Various</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Axethrower, Bat rider, Berserker, Death knight, Druid, Hexxer, Headhunter, Hunter, Mage, Monk,
                        Necromancer, Priest, Rogue, Shadow hunter, Shaman, Sorcerer, Venomancer, Warlock, Warrior, Witch
                        doctor</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td>Zuldazar (Zandalari), Darkspear Isle (Darkspear), Zul'Gurub (Gurubashi), Zul'Aman (Amani),
                        Zul'Farrak (Farraki)</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Talanji (Zandalari Empire),,Rokhan (Darkspear), Mar'li (Gurubashi), Kazra'jin(Amani), Ukorz
                        Sandscalp (Farraki), Malakk(Drakkari)
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td> Bat, Bear, Direhorn, Dragonhawk, Raptor, Rhino, Skyscreamer</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td> Eastern Kingdoms, Kalimdor, Northrend, South Seas</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td> Zandali</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>