<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“Theia-shoush ahmen” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://e0.pxfuel.com/wallpapers/243/574/desktop-wallpaper-tauren.jpg" style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>The tauren are a race of large, bovine humanoids who dwell on the great plains of Central
                Kalimdor. For countless generations, they were constantly harassed by the violent centaur, who forced
                the tauren into a nomadic lifestyle in the harsh Barrens. However, during the Third War and the Horde's
                invasion of Kalimdor, the tauren and the invading Horde became allies, and the Horde aided the tauren in
                driving off the centaur from the sacred lands of Mulgore. High Chieftain Cairne Bloodhoof established
                the capital city of Thunder Bluff, and to this day the tauren remain one of the most stalwart allies of
                the Horde, even after Cairne's death and the ascension of his son, Baine Bloodhoof.
            </p>
            <p>
                Despite their enormous size, the tauren are a peaceful and honorable people who nonetheless are fierce
                fighters when roused. Hunting and shamanism are held in high regard in their culture, as is their
                worship of the Earth Mother and respect for the land and nature.</p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Horde, Grimtotem tribe, Cenarion Circle, Earthen Ring, Argent Crusade, Sunwalkers, Twilight's
                        Hammer, Independent</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Druid, Hunter, Monk, Paladin, Priest, Shaman, Warrior
                        Beastmaster, Chieftain, Healer, Primal, Scout, Sorcerer, Spiritwalker</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td>Thunder Bluff, Darkcloud Pinnacle</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Baine Bloodhoof, Jevan Grimtotem, Magatha Grimtotem,Cairne Bloodhoof
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td>Kodo, Wyvern</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td> Kalimdor, Northrend, Pandaria, Broken Isles</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td> Taur-ahe, Orcish, Common</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>