<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="modal-header">
      <div class="main bg-image" style="
    background-image: url('https://cdna.artstation.com/p/assets/images/images/035/638/014/large/alexandru-simut-padure.jpg?1615482162');
    height: 20vh;
  ">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="ms-3 mb-3">Tell Us More about yourself</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-body" style="width:100%">

      <section class="section about-section gray-bg" id="about">
        <div class="container">
          <div class="counter">
            <div class="row align-items-center flex-row-reverse">
              <div class="col">
                <div class="row">
                  <div class="col" aria-describedby="imghelp">
                    <div class="form-group mb-3" *ngIf="currentUser">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="title" required [(ngModel)]="character.name"
                        name="title" />
                    </div>
                    <div class="form-group mb-3">
                      <label for="ilvl">i-level</label>
                      <input type="number" class="form-control" id="ilvl" name="ilvl" />
                    </div>

                    <div class="form-group mb-3" *ngIf="currentUser">
                      <label for="username">Warcraft logs link</label>
                      <input type="text" class="form-control" id="username" name="username" placeholder="" />
                    </div>
                    <div class="form-group mb-3" *ngIf="currentUser">
                      <label for="username">Level</label>
                      <input type="number" class="form-control" id="username" name="username" placeholder="" />
                    </div>

                    <div class="form-group mb-3">
                      <label for="connectedRealmsData">Realm</label>
                      <select class="form-select" aria-label="Default select example">
                        <option value=""></option>
                        <option *ngFor="let data of connectedRealmsData">
                          {{ data.name }}
                        </option>
                      </select>
                    </div>

                    <div class="form-group mb-3">
                      <label for="faction">Faction</label>
                      <select class="form-select" aria-label="Default select example">
                        <option value=""></option>
                        <option value="1">Alliance</option>
                        <option value="2">Horde</option>
                      </select>
                    </div>

                    <div class="form-group mb-3">
                      <label for="playableRacesData">Race</label>
                      <select class="form-select" aria-label="Default select example">
                        <option value=""></option>
                        <option *ngFor="let data of playableRacesData">
                          {{ data.name }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <fieldset>
                        <label>Secondary professions:</label><br />
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">&nbsp;Fishing&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">&nbsp;Cooking&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">&nbsp;First Aid&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                      </fieldset>
                    </div>
                  </div>

                  <div class="col">
                    <form class="submit-form">

                      <div class="form-group mb-3">
                        <label for="playableClassesData">Class</label>
                        <select class="form-select" aria-label="Default select example">
                          <option value=""></option>
                          <option *ngFor="let data of playableClassesData">
                            {{ data.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="classTalentsData">First Specialisation</label>
                        <select class="form-select" aria-label="Default select example">
                          <option value=""></option>
                          <option *ngFor="let data of classTalentsData">
                            {{ data.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="classTalentsData">Second Specialisation</label>
                        <select class="form-select" aria-label="Default select example">
                          <option value=""></option>
                          <option *ngFor="let data of classTalentsData">
                            {{ data.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="faction">Main Role</label>
                        <select class="form-select" aria-label="Default select example">
                          <option value=""></option>
                          <option value="1">Healer</option>
                          <option value="2">Tank</option>
                          <option value="3">Damage</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="faction">Second Role</label>
                        <select class="form-select" aria-label="Default select example">
                          <option value=""></option>
                          <option value="1">Healer</option>
                          <option value="2">Tank</option>
                          <option value="3">Damage</option>
                        </select>
                      </div>

                      <div class="form-group mb-3">
                        <label for="professionsData">First profession</label>
                        <select class="form-select" aria-label="Default select example">
                          <option value=""></option>
                          <option *ngFor="let data of professionsData">
                            {{ data.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="professionsData">Second profession</label>
                        <select class="form-select" aria-label="Default select example">
                          <option value=""></option>
                          <option *ngFor="let data of professionsData">
                            {{ data.name }}
                          </option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="saveCharacter()">Send</button>
    </div>
  </div>
</div>