<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“ Daz, Gul, Kar, Laz, Lek, Lok, Maz, Ril,
        Ruk, Shi, Tor, Za ” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://pbs.twimg.com/media/EIJPlOuU4AAK-pW.jpg"
                style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
      text-justify: inter-word;">
            <p>The draenei (meaning Exiled Ones in their own tongue) are a faction of uncorrupted eredar who
                fled their homeworld of Argus to escape the corruption of the demonic Burning Legion. Led by the Prophet
                Velen and guided by the divine naaru, they traveled throughout the cosmos in search of a safe world to
                settle on, eventually landing on a planet they would come to call Draenor, or "Exiles' Refuge". For
                centuries, the draenei lived in relative peace with Draenor's native orcs, until agents of the Burning
                Legion found them. As the orcs were corrupted by the Legion and formed the original Horde, the draenei
                were slaughtered en masse and driven into hiding. Eventually, they managed to escape Draenor on the
                Exodar, a vessel of the naaru fortress of Tempest Keep, crash-landing on Azeroth; more specifically, on
                the Azuremyst Isles off the western coast of Kalimdor. Once they had arrived on Azeroth, the draenei
                allied with the Alliance and aided them in the war in Outland. </p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Alliance, Aldor, Sha'tar, Auchenai, Hand of Argus, Earthen Ring, Kirin Tor, Conclave, Argent
                        Crusade, Silver Hand, Independent
                        Alternate Draenor:
                        Council of Exarchs, Sargerei (Burning Legion)</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Hunter, Mage, Monk, Paladin, Priest, Shaman, Warrior</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td>Exodar, Shattrah City</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Velen, Nobundo, Akama, Ishanah
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td> Elekk, Talbuk, Nether ray, Faerie dragon</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Argus</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td>Kalimdor, Outland
                        Draenor (Alternate universe)</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td>Draenei</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>