<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“ Ash'therod, Dorados'no, Isera'duna,
        Shar'adore, Thero'shan ” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://pbs.twimg.com/media/FcNcOrTXkAAgKIK.jpg:large" style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>Night elves (or kaldorei, for "children of the stars" in Darnassian), are a powerful and mystical race
                whose origins extend back to ancient times, being one of the longest-lived and most ancient cultures in
                existence today. These then-immortal beings were among the first to study magic and let it loose
                throughout the world nearly ten thousand years before the First War.The founders of a magical and
                advanced civilization which at its peak spanned the breadth of ancient Kalimdor, the night elves came
                into a horrific conflict with the Burning Legion but achieved a Pyrrhic victory that ended in the Great
                Sundering, turning Kalimdor's landmass into the continents of the present age. The devastation wrought
                by the chain of events birthed in conceit caused a wholesale shift in direction. </p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td>Darnassus, Alliance, Cenarion Circle, Highborne, Kirin Tor, Argent Crusade, Silver Hand, Knights
                        of the Ebon Blade, Illidari, Twilight's Hammer, Forsaken, Horde</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Druid, Hunter, Mage, Paladin, Priest, Rogue, Shaman, Warlock, Warrior</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td> Nordrassil, Darnassus </td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Tyrande Whisperwind,
                        Malfurion Stormrage
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td>Horse, Gryphon</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td> Kalimdor, Eastern Kingdoms, Broken Isles</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td> Darnassian</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>