<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Skinning</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Skinning allows players to gather leather, Hides and scales by skinning certain mobs (beasts, demon beasts,
        dragonkin, silithid, some nerubians and, very rarely, humanoids). Not all mobs of each type can be skinned, e.g.
        most birds cannot be skinned despite being beasts. Leather, hides and scales are used for leatherworking.
        Leather is also used for some blacksmithing, engineering, and tailoring recipes. </p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-skinning.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>This is one of the better gathering professions, since a skinner can skin mob corpses left behind by other
        characters as long as they've looted all the items from the corpse. Unlike the mining or herb gathering,
        skinning allows very frequent practice when outdoor hunting resulting in a great deal of leather and very rapid
        training. You will typically be able to skin creatures much higher level than you can kill.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>