<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bolder;">Leatherworking</h5>
</div>
<div class="modal-body" style="text-align: justify;
text-justify: inter-word;">
    <p>Leatherworking is one of the primary professions. Your character can only have 2 primary professions at any time.

        The leatherworking profession allows players to utilize the leather gathered through the skinning profession to
        create a variety of items, including cloaks, leather and mail armor, and armor kits. The armor produced by
        leatherworking is chiefly of use to the leather and mail wearing classes: druid, hunter, shaman, monk, and
        rogue.

        While Leatherworking used to offer specializations at later levels, most recipes that used to require those can
        now be trained by all leatherworkers and many of the items made are now bind on equip. </p>
    <p>
    <h2></h2>
    <img src="https://wow.zamimg.com/images/content/tall-headers/retail/categories/professions-leatherworking.jpg?maxWidth=1630"
        style="width: 100%;" />
    <h2></h2>
    <p>
        Leatherworking is taught by various leatherworking trainers located throughout the world. Prospective
        leatherworkers must be at least level 5. Initial training costs 10c, granting the Apprentice level with a
        potential skill of 75 and access to a few starting leatherworking patterns. More patterns can be learned from
        trainers or found throughout the world as the leatherworker raises their skill level.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>