<div class="modal-header">
    <h5 class="modal-title" style="font-weight: bolder; font-style: italic;">“Esarus thar no'Darador' - By Blood and
        Honor We Serve.” </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <img src="https://orig00.deviantart.net/b872/f/2018/079/7/7/wow_characters_commission_by_x_celebril_x-dbhukfa.jpg"
                style="width: 100%;" />
        </div>
        <div class="col" style="text-align: justify;
        text-justify: inter-word;">
            <p>Humans are a resilient species native to the world of
                Azeroth. Early humans were primarily a scattered and tribal people for several millennia, until the
                rising strength of the troll empire forced their strategic unification.</p>
            <p>After several centuries of peace, however, the increasingly prosperous and independent city-states of
                Arathor split into separate kingdoms: Gilneas to the west, Alterac, Dalaran, and Lordaeron to the
                northwest, Kul Tiras to the southwest, and Stormwind to the far south. Strom itself was renamed
                Stromgarde and remained a significantly powerful kingdom.</p>
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <th>Faction/Affiliation</th>
                    <td> Alliance (Stormwind, Kul Tiras, Stromgarde, Gilneas), Dalaran, Silver Hand, Argent Crusade,
                        Scarlet Crusade, Scourge (Cult of the Damned), Old Gods' forces (Twilight's Hammer), Syndicate,
                        Grizzly Hills trappers, Defias Brotherhood, Pirate groups, Wastewanders</td>
                </tr>
                <tr>
                    <th>Character classes</th>
                    <td>Death knight, Druid, Hunter, Mage, Paladin, Priest, Rogue, Shaman, Warlock, Warrior</td>
                </tr>
                <tr>
                    <th>Racial capital</th>
                    <td> Stormwind City,
                        Boralus,
                        Stromgarde,
                        Dalaran City,
                        Theramore (destroyed),
                        Gilneas City (abandoned),
                        Capital City (ruined),
                        Alterac City (ruined)</td>
                </tr>
                <tr>
                    <th>Racial leaders</th>
                    <td>Turalyon,
                        Anduin Wrynn (absent),
                        Genn Greymane,
                        Jaina Proudmoore,
                        Danath Trollbane, Kadgar
                    </td>
                </tr>
                <tr>
                    <th>Racial mount</th>
                    <td>Horse, Gryphon</td>
                </tr>
                <tr>
                    <th>Homeworld</th>
                    <td>Azeroth</td>
                </tr>
                <tr>
                    <th>Areas</th>
                    <td>Azeroth, Outland, Alternate Draenor</td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td>Common, Dwarven, Thalassian, Gnomish, Zandali, Orcish</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancel
    </button>
</div>