

<app-header></app-header>

<div class="video-container">
  <video id="myVideo" autoplay muted loop onloadedmetadata="this.muted = true"
  playsinline
  >
      <source src="../../assets/videos/wow.mp4" type="video/mp4" />
  </video>
</div>
<main class="my-5" >
<div class="container">
  <div class="row mb-5">
    <div class="col-md-5">
      <ng-container *ngFor="let guild of firstRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
          <a routerLink="guild-details/{{guild.id}}" (click)="setSelectedGuild(guild)" class="btn btn-secondary">Check {{guild.guildName}} page</a>
        </div>
      </div>
      </ng-container>
  </div>
    <div class="col-md-7">
      <h1 class="mb-3">Top Guilds</h1>
      <p class="mb-3">Maze is always looking for exceptional applicants. Generally looking for people with high levels of multiclassing talent. 
        All raiders are required to have 4 decently maintained characters. 
        We don't speedrun. We have a tight-knit community of players, and our player retention is generally high.</p>
      <hr />
      <p class="mb-3 mt-3">Generally we raid 2-3 days a week. These days are however not set in stone. Before a new content release patch, these days are gonna exceed that. 
        In a normal week our raids start 18:00 server time and can end as late as midnight server time. 
        We have a fairly small roster compared to some of our counterparts, so it's important to us that our applicants have a flexible schedule. </p>
        <a href="guilds"><button type="button" class="btn btn-secondary me-3"><i class="fas fa-book me-2"></i>See more Guilds</button></a>
      <a href="about"> <button type="button"  class="btn btn-outline-secondary"><i class="fas fa-question-circle me-2"></i>About us</button></a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <ng-container *ngFor="let guild of secondRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
          <a routerLink="guild-details/{{guild.id}}" (click)="setSelectedGuild(guild)" class="btn btn-secondary">Check {{guild.guildName}} page</a>
        </div>
      </div>
    </ng-container>
    </div>
    <div class="col-md-4">
      <ng-container *ngFor="let guild of thirdRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
          <a routerLink="guild-details/{{guild.id}}" (click)="setSelectedGuild(guild)" class="btn btn-secondary">Check {{guild.guildName}} page</a>
        </div>
      </div>
    </ng-container>
    </div>
    <div class="col-md-4">
      <ng-container *ngFor="let guild of fourthRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
           <a routerLink="guild-details/{{guild.id}}" (click)="setSelectedGuild(guild)" class="btn btn-secondary">Check {{guild.guildName}} page</a>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</div>
</main>
