

<app-header></app-header>

<div class="video-container">
  <video id="myVideo" autoplay muted loop onloadedmetadata="this.muted = true"
  playsinline
  >
      <source src="../../assets/videos/wow.mp4" type="video/mp4" />
  </video>
</div>
<main class="my-5" >
<div class="container">
  <div class="row mb-5">
    <div class="col-md-5">
      <ng-container *ngFor="let guild of firstRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
          <a href="/guilds/guild-details" class="btn btn-primary">Check {{guild.guildName}} page</a>
        </div>
      </div>
      </ng-container>
  </div>
    <div class="col-md-7">
      <h1 class="mb-3">Top Guilds</h1>
      <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
      but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
      containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <hr />
      <p class="mb-3 mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text. 
        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
        <a href="guilds"><button type="button" class="btn btn-primary me-3"><i class="fas fa-book me-2"></i>See more Guilds</button></a>
      <a href="about"> <button type="button"  class="btn btn-outline-primary"><i class="fas fa-question-circle me-2"></i>About us</button></a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <ng-container *ngFor="let guild of secondRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
          <a href="/guilds/guild-details">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
          <a href="/guilds/guild-details" class="btn btn-primary">Check {{guild.guildName}} page</a>
        </div>
      </div>
    </ng-container>
    </div>
    <div class="col-md-4">
      <ng-container *ngFor="let guild of thirdRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
          <a href="/guilds/guild-details" class="btn btn-primary">Check {{guild.guildName}} page</a>
        </div>
      </div>
    </ng-container>
    </div>
    <div class="col-md-4">
      <ng-container *ngFor="let guild of fourthRankGuild";>
      <div class="card">
        <div class="bg-image hover-zoom" mdbRipple rippleColor="light">
          <img src="{{guild.guildEmblem}}" class="img-fluid"/>
          <a href="/guilds/guild-details">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{guild.guildName}}</h5>
          <p class="card-text mb-2">"{{guild.slogan}}"</p>
           <a href="/guilds/guild-details" class="btn btn-primary">Check {{guild.guildName}} page</a>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</div>
</main>
