

<div
  class="main bg-image grayscale"
  style="
    background-image: url('../../assets/wow-images/5269302.jpg');
    height: 50vh;
  "
>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 typewriter">Looking for a GUILD?</h1>
      <h5 class="mb-4">By using our guild finder page you may find your new home !</h5>
      <h5 class="mb-4" (click)="openCreateGuildModal()" style="cursor: pointer;">Or create your own now</h5>
    </div>
  </div>


</div>


<div class="second-main" style="background-color:  	#282828;">
  <h2></h2>
  <div class="input-group">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Search by guild name"
      aria-label="Search"
      aria-describedby="search-addon"
      [(ngModel)]="guildName"
    />
    <button type="button" class="btn btn-outline-primary" (click)="searchGuildName()">search</button>
  </div>
  <div class="container animate-bottom" >
    <h2></h2>
    <div class="row">
      <ng-container *ngFor="let guild of guilds";>
      <div class="col-sm-6 col-md-3" >
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          
          <img
            class="card-img-top img-fluid"
            src="{{guild.guildEmblem}}"
            alt="Card image cap"
            style="width: 500px;height: 300px;"
          />
          <div class="card-body">
            <h4 class="card-title">{{guild.guildName}}</h4>
            <p class="card-text">{{guild.slogan}}</p>
            <a routerLink="guild-details/{{guild.id}}" (click)="setSelectedGuild(guild)" class="btn btn-primary">Check Guild</a>
          </div>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</div>

