<app-navbar-connected></app-navbar-connected>

<div
  class="main bg-image grayscale"
  style="
    background-image: url('../../assets/wow-images/5269302.jpg');
    height: 50vh;
  "
>

  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 typewriter">Looking for a GUILD?</h1>
      <h5 class="mb-4">By using our guild finder page you may find your new home !</h5>
    </div>
  </div>


</div>


<div class="second-main" style="background-color:  	#282828;">
  <h2></h2>
  <div class="input-group">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
    />
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>
  <div class="container animate-bottom">
    <h2></h2>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3 hover-zoom" mdbRipple rippleColor="light">
        <div class="card mb-3">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3 hover-zoom" mdbRipple rippleColor="light">
        <div class="card mb-3">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container">
    <h2></h2>
    <div class="row">
      <div class="col-sm-6 col-md-3 hover-zoom" mdbRipple rippleColor="light">
        <div class="card mb-3">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body hover-zoom" mdbRipple rippleColor="light">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- /.container -->
  <div class="container">
    <h2></h2>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3 hover-zoom" mdbRipple rippleColor="light">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img
            class="card-img-top img-fluid"
            src="../../assets/profile-pictures/341690-Jaina-Proudmoore-World-of-Warcraft-WoW-Video-Game.jpg"
            alt="Card image cap"
            width="400"
          />
          <div class="card-body">
            <h4 class="card-title">.card-title</h4>
            <p class="card-text">.card-text</p>
            <a href="/guilds/guild-details" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<app-footer> </app-footer>
